.btn-nav {
  background-color: #5cb85f;
  border-radius: 2px;
  color: #fff !important;
  /* font-weight: 900; */
}

.btn-nav1 {
  background-color: #0D28A6 !important;
  border-radius: 2px;
  color: #fff;
  /* font-weight: 900; */
}